@charset "utf-8";

body{
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	background-image:url("../../images/background 1.jpg");
    background-repeat: no-repeat;
	
}


p{
	font-family: 'Open Sans Condensed', sans-serif;	
}

.container {
	border: #EBB9BA;
	background: #DDA7A7;
	margin-left: auto;
	margin-right: auto;
}
.myheader {
	background-color:#E8D0D0;
	width: 50px;
	height: 60px;
	background-size: cover;
	font-family: 'Open Sans Condensed', sans-serif;;
	color: aliceblue;
}
.my-introduction {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #FFFFFF
}
.my-content{ 
	width: 500px;
}
.my-second-content {
	float: right;
	padding-left: 12px;
}	
.column {
	font-family: 'Open Sans Condensed', sans-serif;
  	float: left;
  	width: 25%;
}


.row:after {
	font-family: 'Open Sans Condensed', sans-serif;
  	content: "";
  	display: table;
  	clear: both;
}

.pinky { 
		color: #000000;
		font-family: 'Open Sans Condensed', sans-serif;
	
}
.grey {
	color:#7E1112;
	font-family:'Open Sans Condensed', sans-serif;
	
}
#zaza {
	color: #670607;
	font-style: 'Open Sans Condensed', sans-serif;
}

#my-id {
	background-image:url("../../images/path-road-trees-red-wallpaper-preview.jpg");
} 
